body {
    background-color: #151515;
    width: 1890px;
    height: 2500px;
}

section {
    background-color: #292929;
    width: 1890px;
    height: 760px;
}

h1 {
    color: #ffffff;
    font: 50px Arial;
    float: left;
    margin: 60px;
    font-weight: bold;
    position: relative;
        left: 150px;
        top: 0px;
}

h2 {
    color: #9155ff;
    font: 30px Arial;
    float: left;
    width: 800px;
    height: 10px;
    margin: 60px;
    font-weight: bold;
    position: relative;
        left: -200px;
        top: 0px;
}

h3 {
    color: #9155ff;
    font: 40px Arial;
    width: 300px;
    height: 30px;
    margin: 40px;
    font-weight: bold;
    position: relative;
        left: 880px;
        top: -660px;
}

h4 {
    color: #9155ff;
    font: 40px Arial;
    width: 1200px;
    height: 30px;
    margin: 40px;
    font-weight: bold;
    position: relative;
        left: 350px;
        top: 40px;
}

h5 {
    color: #ffffff;
    font: 32px Arial;
    width: 1000px;
    height: 30px;
    margin: 20px;
    font-weight: bold;
    position: relative;
        left: 200px;
        top: 100px;
}

h6 {
    color: #ffffff;
    font: 32px Arial;
    width: 1000px;
    height: 30px;
    margin: 20px;
    font-weight: bold;
    position: relative;
        left: 200px;
        top: 300px;
}

p {
    color: #ffffff;
    font: 25px Arial;
    width: 500px;
    height: 30px;
    margin: 20px;
    font-weight: bold;
    position: relative;
        left: 900px;
        top: -680px;
}

.silka {
    font: 10px Arial;
    color: #ffffff;
    width: 30px;
    height: 10px;
    position: relative;
        left: -120px;
        top: 550px;
}

.prava {
    font: 10px Arial;
    color: #9155ff;
    width: 200px;
    height: 200px;
    position: relative;
        left: 300px;
        top: 460px;
}

.menu 
{ 
display: flex; 
float: right;   
}
.menu a 
{ 
margin-right: 10px; 
padding: 10px; 
width: 110px;
height: 30px;
font: 25px Arial; 
text-decoration: none; 
position: relative;
left: -250px;
top: 30px;
font-weight: 1;
color: #ffffff; 
background-color: #2b2b2b; 
border: 1px solid #646464;
  border-radius: 20px;
}.menu a:hover, 
.menu a.active 
{ 
    color: #d08aff;  
    border: 1px solid #9155ff;
    background-color: #1a1a1a; 
    }   

    .ikona {
        width: 750px;
        height: 200px;
        position: relative;
            left: 50px;
            top: -400px;
    }

    .img1 {
        width: 400px;
        height: 400px;
        position: relative;
        left: 741px;
        top: 150px;
    }

    .img2 {
        width: 300px;
        height: 300px;
        position: relative;
        left: 200px;
        top: 1300px;
        animation-name: Animation3;
        animation-duration: 10s;
        animation-iteration-count: infinite;
}

@keyframes Animation3 {
    from {
      position: relative;
        left: 200px;
        top: 1300px;
    }

    25% {
      position: relative;
        left: 250px;
        top: 1350px;
    }

    50% {
        position: relative;
          left: 200px;
          top: 1400px;
      }

    75% {
        position: relative;
          left: 150px;
          top: 1350px;
      }

    to {
      position: relative;
      left: 200px;
      top: 1300px;
    }
  }

    .img5 {
        width: 600px;
        height: 600px;
        position: relative;
        left: 100px;
        top: -100px;
}

.img6 {
    width: 300px;
    height: 300px;
    position: relative;
    left: 300px;
    top: 700px;
}

.imgvk {
    width: 100px;
    height: 100px;
    position: relative;
    left: 500px;
    top: 460px;
}

.imgtg {
    width: 100px;
    height: 100px;
    position: relative;
    left: 550px;
    top: 460px;
}

.Астероид {
    width: 150px;
    height: 150px;
    border-radius: 50px;
    animation-name: Animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .Ракета {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    animation-name: Animation2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
  }
  
  @keyframes Animation {
      from {
        position: relative;
          left: 150px;
          top: 250px;
      }
  
      to {
        position: relative;
        left: 1500px;
        top: 100px;
      }
    }
    
    @keyframes Animation2 {
      from {
        position: relative;
          left: -200px;
          top: 350px;
      }
      to {
        position: relative;
        left: 1490px;
        top: 0px;
      }
    }